{% extends "experiment-page.html" %} {% block content %}
<dl id='definitions'>
    {% set section = get_section(path="blog/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.vocab %}
        {% set data = page.extra.vocab -%}
            {% for word, def in data %}
            <dt>{{ word }}</dt><dd>{{ def }}</dd>
            {% endfor %}
    {% endif %}
{% endfor %}
</dl>
<style>
dl{dt{font-weight:700;grid-column-start:1}dt::after{content:": "}dd{margin-bottom:1em;}
</style>
{% endblock content %}
