<script>
    const approvedUsers = ["acct:mbruges@hypothes.is"];
    function showDefinitions() {
        //maybe move the defContainer out of the body?
        console.log("running defs");
        var defContainer = false;
        lists = document.getElementsByTagName("ul");
        for (var i = 0; i < lists.length; i++) {
            if (lists[i].innerText.includes("DEFINITIONS")) {
                defContainer = lists[i];
                lists[i].style.display = "none";
                lists[i].setAttribute("id", "defContainer");
                var definitionsDiv = document.getElementById("definitions");
                definitionsDiv.appendChild(lists[i]);
                break;
            }
        }
        if (!defContainer) {
            console.log("no definitions found");
            return;
        }
        console.log("definitions found, replacing");
        defList = defContainer.getElementsByTagName("li");
        // defContainer.parentNode.removeChild(defContainer);
        document.body.appendChild(defContainer);
        let word = "";
        let def = "";
        let container = document.getElementById("content");
        wordDefPairs = [];
        for (var i = 0; i < defList.length; i++) {
            word = defList[i].innerText.split(":")[0].trim();
            def = defList[i].innerText.split(":")[1].trim();
            wordDefPairs.push([word, def]);
            if (
                document
                    .getElementById("content")
                    .innerText.toUpperCase()
                    .includes(word.toUpperCase())
            ) {
                console.log(`attempting replace of ${word}`);
                container.innerHTML = container.innerHTML.replace(
                    new RegExp(`(${word})`, "ig"),
                    `<abbr class=def data-title="">${word}</abbr>`,
                );
            }
        }
        //adding title data AFTER inserting, to avoid breaking HTML.
        for (var i = 0; i < wordDefPairs.length; i++) {
            word = wordDefPairs[i][0];
            def = wordDefPairs[i][1];
            const abbrElements = document.getElementsByTagName("abbr");
            Array.from(abbrElements).forEach((element) => {
                if (element.innerText.includes(word)) {
                    element.setAttribute("data-title", def);
                }
                var defLength = element.getAttribute("data-title").length;
                //automatically setting width
                newWidth = defLength * 0.4;
                element.style.setProperty("--min-height", `initial`);
                if (newWidth > 17) {
                    newWidth = 17;
                    element.style.setProperty("--min-height", `2em`);
                }
                element.style.setProperty("--min-width", `${newWidth}em`);

                // Create a rule for this specific abbr element's hover and focus states
                const style = document.createElement("style");
                style.type = "text/css";
                style.innerHTML = `
                        abbr:hover::after,
                        abbr:focus::after {
                            min-width: var(--min-width) !important;
                            min-height: var(--min-height) !important;
                        }
                    `;
                document.head.appendChild(style);
            });
        }
    }

    function setTabIndex() {
        let tabIndex = 3;
        const abbrElements = document.querySelectorAll("abbr");
        abbrElements.forEach((abbr) => {
            abbr.setAttribute("tabindex", tabIndex);
            tabIndex++;
        });
    }

    function addAnnotationToPage(annotation) {
        // console.log(annotation)
        const { target, text: rawText } = annotation;
        const text = rawText.replace(/"/g, "&quot;");
        var startContainer = target[0].selector[0].startContainer;
        startContainer = "/" + startContainer;
        const exactText = annotation.target[0].selector.find(
            (sel) => sel.type === "TextQuoteSelector",
        ).exact;
        //console.log(exactText)

        // Locate the specific container in the DOM
        const xpathResult = document.evaluate(
            startContainer,
            document,
            null,
            XPathResult.ANY_UNORDERED_NODE_TYPE,
        );

        const container = document.evaluate(
            startContainer,
            document,
            null,
            XPathResult.FIRST_ORDERED_NODE_TYPE,
            null,
        ).singleNodeValue;
        if (container) {
            console.log(container.innerHTML);
            container.innerHTML = container.innerHTML.replace(
                exactText,
                `<abbr href="#" class="note" data-title="${text}">${exactText}</abbr>`,
            );
        }
    }

    async function fetchAnnotations() {
        console.log("fetching annotations");
        const pageUrl = encodeURIComponent(
            window.location.origin + window.location.pathname,
        ); //accounting for parameters
        const response = await fetch(
            `https://hypothes.is/api/search?uri=${pageUrl}`,
            {
                headers: {
                    Accept: "application/vnd.hypothesis.v1+json",
                },
            },
        );

        if (response.ok) {
            const data = await response.json();
            data.rows.forEach((annotation) => {
                if (approvedUsers.includes(annotation.user)) {
                    addAnnotationToPage(annotation);
                } else {
                    console.log("Unapproved user: " + annotation.user);
                }
            });
            console.log("finished loading annotations");
            setTabIndex();
        } else {
            console.error("Failed to fetch annotations", response.status);
        }
    }

    window.addEventListener("load", () => {
        console.log("window loaded");
        fetchAnnotations();
        showDefinitions();
    });
</script>

<style>
    abbr {
        background-color: color-mix(in srgb, var(--a), transparent 80%);
        font-family: sans-serif;
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-left: -0.2em;
        margin-right: -0.2em;
        position: relative;
        cursor: help;
        border: 1px solid transparent;
    }

    .def {
        background-color: transparent !important;
        border-bottom: 1pt dashed var(--a) !important;
        border-radius: 0px;
    }
    abbr:hover,
    abbr:focus {
        border: 1px solid var(--a) !important;
    }

    abbr:hover::after,
    abbr:focus::after {
        --abbr-width: 10em;
        content: attr(data-title);
        font-size: 0.85em;
        padding-bottom: 3em;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -0.25rem);
        bottom: 82%;
        min-width: var(--abbr-width);
        text-overflow: ellipsis;
        text-align: center;
        background-color: var(--a);
        color: var(--b);
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 3px 5px;
        z-index: 999;
    }

    .def:hover::after,
    .def:focus::after {
        background-color: var(--b);
        color: var(--t);
        font-style: italic;
        bottom: -1.55rem;
        border: 1pt dashed var(--a) !important;
        max-height: 1.1rem;
        line-height: 0.9em;
        height: 1.1em;
        overflow-y: auto;
    }

    @media screen and (max-width: 500px) {
        abbr:hover::after,
        abbr:focus::after {
            left: 110%;
        }
    }

    @media print {
        li,
        ul {
            display: block !important;
        }
    }
</style>
