{% if page.lower or page.higher %}
<div
    class="post-nav"
    id="post-nav"
>{% if page.lower and not page.lower.draft %} {% if page.lower.extra.icon %}{% set previcon = page.lower.extra.icon %} {% else %} {% set previcon = section.extra.icon %} {% endif %}<a class="prev" href="{{ page.lower.permalink }}"
    <span class="arrow"> <==&emsp;</span> <span>{{ previcon }} {{ page.lower.title }}</span></a
    >
    {% else %}
    <a class="previous" style="visibility: hidden" href="/"
        >No more stories for now.</a
    >
    {% endif %}

    <a style="font-size:0.8em;display:block;margin-top:-0.1em;;background:var(--a);color:var(--b);" class="center" id="back" href='/{{ page.path | split(pat="/") | nth(n=1)}}'>Back to <b>{{ page.path | split(pat="/") | nth(n=1) | capitalize }} ⮌</b></a>
    {% if page.higher and not page.higher.draft %} {% if
    page.higher.extra.icon %} {% set nexticon = page.higher.extra.icon %} {%
    else %} {% set nexticon = section.extra.icon %} {% endif %}
    <a class="next" href="{{ page.higher.permalink }}"
        ><span>{{ nexticon }} {{ page.higher.title }}</span><span style="white-space:nowrap" >&emsp;==></span></a
    >
    {% else %}
    <a class="next" style="visibility: hidden" href="/"
        >No more entries for now.</a
    >
    {% endif %}
</div>
<br />
{% endif %}
