
/*The New Textbook stylesheet*/
:root {
    --b: #f3f8ff; 
    --t: #161b2b;
    --a: #51518a;
    --s: #80808034;
    --border-radius:0.5em;
    --highlight: rgba(255, 243, 74, 0.57);
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, "Ubuntu", Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13.5pt;
    line-height: 1.3; 
    background:var(--b);
    color: var(--t);
    max-width: 80ch;
    padding: 0.6em;
    margin: auto;
    font-family: var(--font-family);
    list-style-type: "✒ ";
}

@media (prefers-color-scheme: dark) {
    :root {
        --t: #f1f7ff;
        --b: #161b2b;
        --a: #a2a2e7;
}}

h1{
    margin: 1.4em 0 0.1em;
    text-align: center;
    text-decoration: underline solid;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--a);
}

h2,h3,h4 {
    font-family:var(--font-family) 
}

button,pre,img,input,textarea {
    border-radius: var(--border-radius);
    padding: 0.4rem;
}

.lightswitch {
    position:fixed;
    display:block;
    top: 10px;
    right: 10px;
    background: transparent;
    border:transparent;
    opacity: 50%;
}

.lightswitch:hover{
    opacity: 100%;
    filter:brightness(100%) !important;
}

aside, blockquote:has(a[href$="aside"]) {
    width: 25%;
    padding: 0.5em !important;
    margin: 1em !important;
    float: right;
}
aside > p {
    border: 2pt dashed var(--t) !important;
    background-color: rgba(0, 0, 0, 0.085);
    padding: 0.5em !important;
}

.footnotes {
	font-size: 0.7em;
}

.footnote-ref {
	text-decoration:none;
	font-weight:bold;
}


img{
    max-height: 40vh;
    max-width: 95%;
    border-radius: 15px;
    padding: -1em;
    margin:-1em;
}

/* For captions */

p > img ~ em {
    max-width: 80%;
    width: fit-content;
    display: block;
    margin-top: -1.3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    opacity: 0.75;
}

img, .center{
    display: block;
    text-align: center;
    margin:auto;
}

a:hover,button:hover {
    filter:brightness(130%);
    cursor:pointer;
}

a {
    color: var(--a);
    text-decoration: underline solid 1px;
    font-family: monospace;
    font-size: 0.92em   ;
}


a:hover {
    text-decoration: underline wavy 1pt;
}


button{
    background:var(--t);
    color:var(--b);
    font-weight:bold;
    font-size: 1em;
}

input,textarea{
    background: var(--s);
    font-size: 1em;
    color:  var(--t);
    border: 2px solid var(--t);
    margin-right: -0.7em;
    padding-right: 1em;
}

small, sup {
    font-size: 0.6em;
}


table{
    background: var(--t);
    padding:0.2em;
    font-size: 0.9em;
    text-align: center;
    margin: auto;
    min-width: 20%;
    border-radius: var(--border-radius);
}

th {
    color:var(--b);
    padding-left:0.5em;
    padding-right:0.5em;
}

td {
    padding:0.35rem;
    background: var(--b);
}


ul {
    list-style-type: inherit;
}

li ul {
    list-style: "✑ ";
}

ul input {
    margin-right: 0.5em;
}

li:has(input) {
    list-style: "";
    padding-left: 0em;
}

ul:has(input){
    padding-left: 1em;
}

marker

columns, .columns {
    padding-top: 0.1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  /*  padding-bottom: 0.1rem;
    max-height: fit-content;
}

.columns > :nth-child(odd) {
    padding-right: 2.2rem;
    border-right: solid 5px ;
*/}


/*  TASK and CHALLENGE 

These two custom elements will automatically add 'Task: ' and 'Challenge: ' when used, and 'Do Now:' if on a title

*/
footer {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 0.2em;
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    opacity:0.8;
}

hr {
    opacity:0.8;
}


/* Italicising and bolding (using ***text***) text highlights it in var(--highlight) */

strong > em, em > strong {
    color: var(--text) !important;
    /*text-decoration: underline wavy 0.2pt;*/
    background-color: var(--highlight);
    font-style: normal;
    margin:-0.2em;
    padding:0.15em;
    border-radius: 0.3em;
    border-right: 4px;
}

/* PAGE QUOTE

This is a redesign of the blockquote, displaying quoted text in serifed font and with a shadow effect, like a page. 
*/

blockquote, pre:has(code.language-quote)  {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding:0.4em;
    border: 3px solid black;
    box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.552);
    background-color: rgb(255, 247, 236);
    border-radius: 0px;
}

/* CAPTION for QUOTE

By adding a nested quote, a small caption can be positioned at the bottom of the text, for attribution */

blockquote blockquote {
    padding:0px;
    border: none;
    font-style: italic;
    box-shadow: none;
    font-size: 0.7em;
    text-align: right;
    position: relative;
    display: flex;
    margin-right: 1px;
    margin-bottom: -1em;
    margin-top: -20px;
    padding-bottom: -0px;
    color: rgba(0, 0, 0, 0.705);
    height: fit-content;
    background:transparent;
}


blockquote blockquote p::before {
    content: "~";
    display: inline-block;
    vertical-align: top;
    margin-right: 0.2em;
}

code {
    background: var(--text);
    color: var(--bg);
    padding: 0.1em;
    font-size: 0.85rem;

}

a code {
    color:inherit;
    text-decoration: underline solid 3pt;
}

pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
}

pre code {
    color: white;
}

pre:has(code){
    border: 5px solid rgb(46, 46, 46);
    border-top: 1.3em solid rgb(46, 46, 46);
    border-radius: 0.5em;
    background:  rgb(46, 46, 46);
    padding-top: 15px;
    box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.552);
    text-align: left;
    height: fit-content;
    padding-top: 0px;
    min-width: 60%  ;
}

pre:has(code)::before {
    position: relative;
    display: block;
    top:-1rem;
    right: 1px;
    padding: 0px;
    color: white;
    margin-left: auto;
    font-size: 10pt;
    margin-right: -4.3em;
    padding-bottom: 1;
    font-family: monospace;
}

pre:has(code.language-markdown)::before {
    content: "🔴 🟡 🟢                    #️⃣ markdown.md";
}

pre:has(code.language-python)::before {
    content: "🔴 🟡 🟢                     🐍 app.py";
}

pre:has(code.language-html)::before {
    content: "🔴 🟡 🟢                      🌐 page.html";
}

pre:has(code.language-css)::before {
    content: "🔴 🟡 🟢                            🎨 style.css";
}

pre:has(code.language-php)::before {
    content: "🔴 🟡 🟢                       ⌨️ page.php";
}

pre:has(code.language-go)::before {
    content: "🔴 🟡 🟢                       ⚙️ main.go";
}


.language-quote {
    font-size: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-height: fit-content;
}


pre:has(code.language-pre){
    border: none;
    border-radius: 0.5em;
    background:transparent;
    padding-top: 15px;
    box-shadow: none;
    text-align: left;
    height: fit-content;
    padding-top: 0px;
    font-size:1.1rem;
}

code.language-pre {
    color: var(--text);
}


pre:has(code.language-quote)::before,pre:has(code.language-pre)::before {content: none;}
pre:has(code.language-quote)::after, pre:has(code.language-pre)::after {content: none;}


ol > li::marker {
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    padding: 0px;
    margin: 0px;
}

ol {
    list-style: numbers;
}

.light-button {
    font-size:0.9em;
    line-height:2em;
    box-shadow: 0 7px 0 2px rgba(126, 126, 126, 0.702);
    padding-left: 1em;
    padding-right:1em;
    margin: 0.2em;
    font-weight: bold;
    max-width: fit-content;
    border:none;
    border-radius: 6px;
    color: var(--color-fg-default);
    display: inline-block;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    vertical-align: middle;
    background-color: rgb(238, 235, 222);
    text-decoration: none;
    border: 1px solid rgb(222, 219, 207);
}

/* Black keyboard effect*/
kbd, a > code, .dark-button  {
    font-size:0.9em;
    line-height:2em;
    box-shadow: 0 7px 0 2px rgba(16, 16, 16, 0.959);
    padding-left: 1em;
    padding-right:1em;
    margin: 0.2em;
    font-weight: bold;
    max-width: fit-content;
    border:none;
    border-radius: 6.5px;
    color: whitesmoke;
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: rgb(47, 47, 47);
    text-decoration: none;
    border: 1px solid rgb(44, 44, 44);
}

/*kbd, a > code::after {
    content: " 🌐";
}*/
/* click effect */
a:focus > code {
    box-shadow: 0 1px 0 2px rgba(126, 126, 126, 0.702);
  transform: translateY(6px);}



  
  /* Attempt at github-flavoured callout boxes*/
blockquote:has(a[href^="caution"]), blockquote:has(a[href^="challenge"]){
    font-family: var(--font-family);
    background-color:rgb(252, 225, 225);
    color:black;
    border: none;
    border-left: 10px solid rgb(166, 0, 0);
    border-radius: 0.3em;
    box-shadow: none;
}

blockquote:has(a[href^="caution"])::before{
    content: "! Caution";
    color: rgb(166, 0, 0);
    font-weight:bold;
}
blockquote:has(a[href^="challenge"]){ color: rgb(140, 0, 0); box-shadow: none;}
blockquote:has(a[href^="challenge"]) p::before{
    content: "CHALLENGE: ";
    font-weight:bold;
}


blockquote:has(a[href^="warning"]){
    font-family: var(--font-family);
    background-color:rgb(255, 252, 220);
    color:black;
    border: none;
    border-left: 10px solid rgb(207, 173, 0);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href^="warning"])::before{
    content: "⚠ Warning";
    color: rgb(207, 173, 0);
    font-weight:bold;
}


blockquote:has(a[href^="note"]){
    font-family: var(--font-family);
    background-color:rgb(208, 238, 255);;
    color:black;
    border: none;
    border-left: 10px solid rgb(0, 116, 178);;
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href^="note"])::before{
    content: "ℹ Note";
    color: rgb(0, 116, 178);
    font-weight:bold;
}


blockquote:has(a[href^="important"]),blockquote:has(a[href^="think"]){
    font-family: var(--font-family);
    background-color:rgb(246, 216, 255);
    color:black;
    border: none;
    border-left: 10px solid rgb(119, 0, 152);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href^="important"])::before{
    content: "☛ Important";
    color: rgb(119, 0, 152);
    font-weight:bold;
}

blockquote:has(a[href^="think"])::before{
    content: "? Think";
    color: rgb(119, 0, 152);
    font-weight:bold;
}


blockquote:has(a[href^="tip"]){
    font-family: var(--font-family);
    background-color:rgb(225, 255, 233);
    color:black;
    border: none;
    border-left: 10px solid rgb(0, 130, 35);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href^="tip"])::before{
    content: "✔︎ Tip";
    color: rgb(0, 130, 35);
    font-weight:bold;
}


blockquote:has(a[href^="task"]){
    font-family: var(--font-family);
    background-color: #c3dbf8;;
    color: #183150;
    border: none;
    border-left: 10px solid #183150;;
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href^="task"]) p::before{
    content: "TASK: ";
    font-weight:bold;
}


