/*The 1kb stylesheet*/
:root {
    --b: #e6e4dc; 
    --t: #1c2131;
    --a: #51518a;
    --s: #80808034;
}

@media (prefers-color-scheme: dark) {
    :root{
        --t: #e6e4dc;
        --b: #1c2131;
        --a: #a2a2e7;
}}

:root{
    font: 13pt sans-serif;
    line-height: 1.3; 
    background:var(--b);
    color: var(--t);
    max-width: 80ch;
    padding: 0.6em;
    margin: auto;
}

h1,h2,h3{
    font-family: serif;
    margin: 1.4em 0 0.1em;
}

button,pre,img,input,textarea {
    border-radius: 0.5rem;
    padding: 0.4rem;
}

img{
    max-height: 40vh;
    max-width: 95%;
}

img, .center{
    display: block;
    text-align: center;
    margin:auto;
}

a:hover,button:hover{
    filter:brightness(130%);
    cursor:pointer;
}

a{
    color: var(--a);
}

button{
    background:var(--t);
    color:var(--b);
    font-weight:bold;
    font-size: 1em;
}

input,textarea{
    background: var(--s);
    font-size: 1em;
    color:  var(--t);
    border: 2px solid var(--t);
    margin-right: -0.7em;
    padding-right: 1em;
}

small, sup {
    font-size: 0.6em;
}

pre{
    background:#222;
    color: #fff;
    overflow-x: scroll;
    border: 2px solid #fff;
}

blockquote, p code,table{
    background: var(--s);
    padding:0.2em;
    font-size: 0.9em;
}

blockquote{
    border-left: 3pt solid;
    padding: 1px 0.3em 1px 1em ;
    font-family: serif;
}

table {
    text-align: center;
    margin: auto;
}

td {
    padding:0.35rem;
    background: var(--b);
}