/* Attempt at github-flavoured callout boxes*/
blockquote:has(a[href$="caution"]),
.caution,
blockquote:has(a[href$="challenge"]) {
    font-family: var(--font-family);
    background-color: rgb(252, 225, 225);
    color: black;
    border: none;
    border-left: 10px solid rgb(166, 0, 0);
    border-radius: 0.3em;
    box-shadow: none;
}

blockquote:has(a[href$="caution"])::before,
.caution::before {
    content: "! Caution";
    color: rgb(166, 0, 0);
    font-weight: bold;
}
blockquote:has(a[href$="challenge"]) {
    color: rgb(140, 0, 0);
    box-shadow: none;
}
blockquote:has(a[href$="challenge"]) p::before {
    content: "CHALLENGE: ";
    font-weight: bold;
}

blockquote:has(a[href$="warning"]),
.warning {
    font-family: var(--font-family);
    background-color: rgb(255, 252, 220);
    color: black;
    border: none;
    border-left: 10px solid rgb(207, 173, 0);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href$="warning"])::before,
.warning::before {
    content: "⚠ Warning";
    color: rgb(207, 173, 0);
    font-weight: bold;
}

blockquote:has(a[href$="note"]) {
    font-family: var(--font-family);
    background-color: rgb(208, 238, 255);
    color: black;
    border: none;
    border-left: 10px solid rgb(0, 116, 178);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href$="note"])::before {
    content: "ℹ Note";
    color: rgb(0, 116, 178);
    font-weight: bold;
}

blockquote:has(a[href$="important"]),
blockquote:has(a[href$="think"]) {
    font-family: var(--font-family);
    background-color: rgb(246, 216, 255);
    color: black;
    border: none;
    border-left: 10px solid rgb(119, 0, 152);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href$="important"])::before {
    content: "☛ Important";
    color: rgb(119, 0, 152);
    font-weight: bold;
}

blockquote:has(a[href$="think"])::before {
    content: "? Think";
    color: rgb(119, 0, 152);
    font-weight: bold;
}

blockquote:has(a[href$="tip"]) {
    font-family: var(--font-family);
    background-color: rgb(225, 255, 233);
    color: black;
    border: none;
    border-left: 10px solid rgb(0, 130, 35);
    border-radius: 0.3em;
    box-shadow: none;
}
blockquote:has(a[href$="tip"])::before {
    content: "✔︎ Tip";
    color: rgb(0, 130, 35);
    font-weight: bold;
}

task,
blockquote:has(a[href$="task"]) {
    font-family: var(--font-family);
    background-color: #c3dbf8;
    color: #183150;
    border: none;
    border-left: 10px solid #183150;
    border-radius: 0.3em;
    box-shadow: none;
}
task,
blockquote:has(a[href$="task"]) p::before {
    content: "TASK: ";
    font-weight: bold;
}
