{% extends "base.html" %} {% block content %}

<title>404 - Page Not Found - {{ config.extra.default_title }}</title>
<h1 id="404-page-not-found">404 Page Not Found</h1>
<p class="center">
    <em>You&#39;re not supposed to be here. Check the URL and try again.</em>
</p>
<blockquote>
    <p>&#34;Have you forgot all sense of place and duty?&#34;</p>
    <blockquote>
        <p>
            IAGO -
            <a
                href="https://www.gutenberg.org/cache/epub/100/pg100-images.html#chap26"
                rel="nofollow"
                >Othello, 2.3.166</a
            >
        </p>
    </blockquote>
</blockquote>
<div class="center">
    <p>
        <a href="/" rel="nofollow"><code>Home 🏠</code></a>
    </p>
    <p>
        <a href="/search" rel="nofollow"><code>Search 🔎</code></a>
    </p>
</div>
<style>
    footer {
        position: absolute;
        bottom: 2em;
        width: 100%;
        left: 1px;
    }
</style>
{% endblock content %}
