{% if page.extra.icon %}
{% set icon = page.extra.icon %}

{% elif section.extra.icon %}
{% set icon = section.extra.icon %}
{% else %}
{% set icon = config.extra.icon %}
{% endif %}

{% if page.title %}
{% set title = page.title ~ " - " ~ config.extra.default_title %}
{% elif config.title %}
{% set title = config.title ~ " - " ~ config.extra.default_title %}
{% else %}
{% set title = config.extra.default_title %}
{% endif %}

{% if page.content %}
{% if "blockquote" %}
{% set blockquotestyle = get_url(path="blockquote-style.min.css") %}
{% else %}
{% set blockquotestyle = "" %}
{% endif %}
{% else %}
{% set blockquotestyle = "" %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="description" content="{{ page.description | default(value=config.extra.default_description) }}. From the website of Max Bruges.">
   <meta name="theme-color" content="#fbff5cc">
   <meta property="og:type" content="website">
   <meta property="og:title" content="{{ title }}">
{% if current_url  %}
   <link rel="canonical" href="{{ current_url | safe }}" />
   <meta property="og:url" content="{{ current_url | safe }}">
{% endif %}
   <meta property="og:site_name" content="MaxBruges.com">
   <meta property="og:locale" content="en_GB">
   <meta property="og:description" content="{{ page.description | default(value=config.extra.default_description) | striptags }}">
   <link rel="icon" type="image/svg" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{ icon }}</text></svg>">
 <link rel="stylesheet" href="{{ get_url(path="nav.min.css") | safe }}">
 <link rel="stylesheet" href="{{ get_url(path="blog-style.min.css") | safe }}">
</head>
<body>
<div id="main" style="min-height: 80vh;">
<div id="nav-container" class="nav">
<nav>
    <div class="dropdown">
        <a id="dropdown-icon">&#8801;
        </a>
        <div class="dropdown-content">
            <a href="/" style="font-weight:bolder">🏠 Home </a>
            <a href="/blog">🗞️ Blog</a>
            <a href="/learn">👨‍🏫 Learn</a>
            <a href="/experiments">🧪 Experiments</a>
        </div>
    </div>
    <small id="website-name"> {{ icon }} {% if page.title %} {{ page.title }} {% elif section.title %} {{ section.title }} {% else %} {{ config.extra.default_title }} {% endif %}</small>
    <p><a id="back" href="../">↩ Back</a></p>
</nav>
</div>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</div>
<footer >
    <p title="Built by Zola at {{ now() | date(format='%H:%M:%S UTC%:::z, %a %d %b') }}"
    alt="Footer">{{ config.extra.footer }}</p>
</footer>
<script type="module">
        import { toggleNightmode,handleScroll,addNavShadow } from '/scripts.js';

        if (localStorage.getItem('nightmode') === 'enabled') {
                    toggleNightmode();
                }
        document.getElementById('lightswitch').onclick = toggleNightmode;
        window.addEventListener('scroll', handleScroll);
        window.onload = addNavShadow
</script>
<span class="lightswitch" id="lightswitch">🌓︎</span>
{% include "snippets/xmasmode.html" %}
</body>
<link rel='stylesheet' href='{{ blockquotestyle }}'>
<meta property="og:image" content="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><defs><linearGradient id='grad1' x1='0%' y1='0%' x2='100%' y2='100%'><stop offset='0%' style='stop-color:%23f0f8ff;stop-opacity:1' /><stop offset='100%' style='stop-color:%23fff5cb;stop-opacity:1' /></linearGradient></defs><rect width='100' height='100' fill='url(%23grad1)'/><text y='1.75em' x='0.85em' font-size='37'>{{ icon }}</text></svg>">
</html>
