<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% if page.extra.icon %} {% set icon = page.extra.icon %} {% elif section.extra.icon %} {% set icon = section.extra.icon %} {% else %} {% set icon = config.extra.icon %} {% endif %}
    {% if page.title %} {% set title = page.title ~ " - " ~ config.extra.default_title %} {% elif config.title %} {% set title = config.title ~ " - " ~ config.extra.default_title %} {% else %} {% set title = config.extra.default_title %} {% endif %}
    <meta charset="utf-8">
    <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="description" content="{{ page.description | default(value=config.extra.default_description) }}. From the website of Max Bruges.">
{% if page.extra.tags %}
   <meta name="keywords" content="{% for tag in page.extra.tags %}{{ tag }}, {% endfor %}">
{% endif %}
   <meta property="og:type" content="website">
{% if current_url  %}
   <link rel="canonical" href="{{ current_url | safe }}" />
   <meta property="og:url" content="{{ current_url | safe }}">
{% endif %}
   <meta property="og:site_name" content="MaxBruges.com">
   <meta property="og:description" content="{{ page.description | default(value=config.extra.default_description) | striptags }}">
{% if page.authors %}
   <meta name="author" content="{{ page.authors[0] }}">
{% endif %}
   <link rel="stylesheet" href="{{ get_url(path="nav.min.css") | safe }}">
 <link rel="stylesheet" href="{{ get_url(path="blog-style.min.css") | safe }}">
 <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body style="margin-top: 2em !important;">
    <div id="main" style="position:relative">
        <nav>
            <div id="maxwidth">
            <div tabindex="1"  class="dropdown">
                <a id="dropdown-icon">&#8801;
                </a>
                <div id="menu" class="dropdown-content">
                    <a tabindex="1" href="/">🏠 Home </a>
                    <a tabindex="2" href="/blog">🗞️ Blog</a>
                    <a  tabindex="3" href="/learn">👨‍🏫 Learn</a>
                    <a tabindex="4" href="/experiments">🧪 Experiments</a>
                    <a alt="Toggle dark mode" id="lightswitch">🌓︎</a>
                </div></div>
            <a href="/" class="center-el">MaxBruges.com</a>
            <div tabindex="5"  id="search-container">
            <a id="search-icon"  onclick="document.getElementById('search-input').focus()" alt="search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg></a>
            <div id="search-dropdown" class="dropdown-content" style="margin-top:8px;postion:relative;">
                <form id="search-form" onsubmit="window.location='/search?q=' + encodeURIComponent(document.getElementById('search-input').value); return false;">
                    <input id="search-input" placeholder="Search.." autofocus>
                    <button id="submit-search" type="submit">&#9166;</button>
                </form>
            </div>
            </div>
        </nav>
  <section class="section">
    <div class="container" id="container">
      {% block content %} {% endblock %}
    </div>
    {% if page.extra.tags %}
       <p id="tag-container" hidden> TAGS:
           {% for tag in page.extra.tags %}{{ tag }},{% endfor %}
       </p>
    {% endif %}
  </section>
</div>
<footer id="footer">
    <a title="Email: hello@maxbruges.com" href="mailto:hello@maxbruges.com"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
    </svg></a>
    <a title="About Max Bruges"
    alt="Footer" href="/about">{{ config.extra.footer }}</a>
    <a title="RSS Feed" alt="RSS Feed" href="/blog/rss.xml"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
      <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1"/>
    </svg></a>
</footer>
{% if page.content %}
{% if page.content is containing("blockquote") %}
<link rel='stylesheet' href='{{ get_url(path="blockquote-style.min.css") }}'>
{% endif %}
{% endif %}
<script>
function toggleNightmode() {
  const nightmodeEnabled =
    document.documentElement.style.getPropertyValue("--t") !==
    document.documentElement.style.getPropertyValue("--b");
  localStorage.setItem("nightmode", nightmodeEnabled ? "disabled" : "enabled");
  const rootStyle = document.documentElement.style;
  const t = getComputedStyle(document.documentElement).getPropertyValue("--t");
  rootStyle.setProperty("--t", getComputedStyle(document.documentElement).getPropertyValue("--b"));
  rootStyle.setProperty("--b", t);
  const currentA = getComputedStyle(document.documentElement).getPropertyValue("--a");
    rootStyle.setProperty("--a", currentA === "#fcf199" ? "#51518a" : "#fcf199");
};
if (localStorage.getItem('nightmode') === 'enabled') toggleNightmode();
document.getElementById('lightswitch').onclick = toggleNightmode;
</script>
</body>
</html>
