{% if page.extra.icon %}
{% set icon = page.extra.icon %}

{% elif section.extra.icon %}
{% set icon = section.extra.icon %}
{% else %}
{% set icon = config.extra.icon %}
{% endif %}

{% if page.title %}
{% set title = page.title ~ " - " ~ config.extra.default_title %}
{% elif config.title %}
{% set title = config.title ~ " - " ~ config.extra.default_title %}
{% else %}
{% set title = config.extra.default_title %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="description" content="{{ page.description | default(value=config.extra.default_description) }}. From the website of Max Bruges.">
{% if page.extra.tags %}
   <meta name="keywords" content="{% for tag in page.extra.tags %}{{ tag }}, {% endfor %}">
{% endif %}
   <meta property="og:type" content="website">
   <meta property="og:title" content="{{ title }}">
{% if current_url  %}
   <link rel="canonical" href="{{ current_url | safe }}" />
   <meta property="og:url" content="{{ current_url | safe }}">
{% endif %}
   <meta property="og:site_name" content="MaxBruges.com">

   <meta property="og:description" content="{{ page.description | default(value=config.extra.default_description) | striptags }}">
{% if page.authors %}
   <meta name="author" content="{{ page.authors[0] }}">
{% endif %}
   <link rel="stylesheet" href="{{ get_url(path="nav.min.css") | safe }}">
 <link rel="stylesheet" href="{{ get_url(path="blog-style.min.css") | safe }}">
 <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div id="main">
<div id="nav-container" class="nav">
<nav>
    <div class="dropdown">
        <a id="dropdown-icon">&#8801;
        </a>
        <div class="dropdown-content">
            <a href="/">🏠 Home </a>
            <a href="/blog">🗞️ Blog</a>
            <a href="/learn">👨‍🏫 Learn</a>
            <a href="/experiments">🧪 Experiments</a>
            <a alt="Toggle dark mode" id="lightswitch">🌓︎</a>
        </div>
    </div>
    <small id="website-name"> {{ icon }} {% if page.title %} {{ page.title }} {% elif section.title %} {{ section.title }} {% else %} {{ config.extra.default_title }} {% endif %}</small>
    <p><a id="search" alt="search" href="/search">⌕</a>
</nav>
</div>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    {% if page.extra.tags %}
       <p id="tag-container" hidden> TAGS:
           {% for tag in page.extra.tags %}{{ tag }},{% endfor %}
       </p>
    {% endif %}
  </section>
</div>
<footer id="footer">
    <a title="About Max Bruges"
    alt="Footer" href="/about">{{ config.extra.footer }}</a>
</footer>
{% if page.content %}
{% if page.content is containing("blockquote") %}
<link rel='stylesheet' href='{{ get_url(path="blockquote-style.min.css") }}'>
{% endif %}
{% endif %}
<script type="module">
        import { toggleNightmode,handleScroll,addNavShadow } from '/scripts.js';
        if (localStorage.getItem('nightmode') === 'enabled') {
                    toggleNightmode();
                }
        document.getElementById('lightswitch').onclick = toggleNightmode;
        window.addEventListener('scroll', handleScroll);
        window.onload = addNavShadow
</script>
</body>
</html>
