{% extends "base.html" %} {% block content %}
<meta property="og:title" content="Blog - {{ config.extra.default_title }}" />
<rewrite_this>
<link rel="stylesheet" href="{{ get_url(path='blog-index.min.css') }}" />
</rewrite_this>
<title>Blog - {{ config.extra.default_title }}</title>
<h1 class="title">The Blog</h1>
<p class="subheading">
    Thoughts on technology, education and what happens when they collide.
</p>
<ul id="list-of-posts">
    {% for page in section.pages | filter(attribute="draft", value=false) %} {%
    if page.extra.icon %} {% set icon = page.extra.icon %} {% else %}
    <!-- {% set icon = "📃" %} -->
    {% set icon = section.extra.icon %} {% endif %} {% if page.description %} {%
    set description = page.description | markdown(inline=true) %} {% set blurb = page.content |
    striptags | truncate(length=360) %} {% else %} {% set description = "" %} {%
    set blurb = page.content | striptags | truncate(length=360) %} {% endif %}
    <div
        class="blog-card"
        onclick="location.href='{{ page.permalink | safe }}';"
        data-pubdate="{{ page.date }}"
        onmouseenter=""
    >
        <div class="blog-icon">{{ icon }}</div>
        <div class="blog-details">
        <p class="">
            <!-- &#x2712; -->

            <span class="title">{{ page.title }}</span
            ><br />
        <div class="description">
                <p class="truncate"><span class="date"
                    >{{ page.date | date(format="%-d %b %y", locale="en_GB") }}
                    ~</span
                    ><b>{{ description | safe }} </b>{{ blurb }}
                <span class="read-on-container"><i class="read-on">read more ⇝</i></span></p></div
            >
        </p>
        </div>

    </div>
    <hr class="card-hr" />

    {% endfor %}
</ul>
{% endblock content %}
