{% extends "base.html" %} {% block content %}
{% if page.extra.icon %}
{% set icon = page.extra.icon %}
{% else %}
{% set icon = "📝" %}
{% endif %}

<title>MB Blog // {{ page.title }} {{ icon }}</title>

<h1 class="title">{{ icon }} {{ page.title }}</h1>

<div class="subheading">
    <p class="subtitle">{{ page.description }}</p>
    <p hidden id="date">{{ page.date }}</p>
</div>
<script>
    var pub = document.getElementById("date").innerText;
    console.log(pub);
    var dateString = pub;
    var options = {
        //weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
    };
    pub = new Date(dateString).toLocaleDateString("en-GB", options);
    document.getElementById("website-name").innerHTML = pub;

    window.onload = () => {
      var images = document.getElementsByTagName("img");
      for (let item of images) {
        item.title = item.alt;
        //OPTION to insert a caption automatically.
        // var caption = document.createElement("p");
        // caption.className = "caption";
        // caption.innerText = item.alt;
        // item.parentNode.insertBefore(caption, item.nextSibling);
      }
    }

</script>
{{ page.content | safe }}
<hr>
{% if page.lower or page.higher %}
  <div class="post-nav" style="display: flex; justify-content: space-between;">
      <style>
      .previous, .next {
          max-width:35%;
      }
      .next {
          text-align:right;
      }
      </style>
    {% if page.lower %}
            {% if page.lower.extra.icon %}
            {% set icon = page.lower.extra.icon %}
            {% else %}
            {% set icon = "📝" %}
            {% endif %}
      <a class="previous" href="{{ page.lower.permalink }}"><== {{ icon }} {{ page.lower.title }}</a>
      {% else %}
      <a class="previous" style="visibility:hidden;" href="/">No more stories for now.</a>
     {% endif %}
    {% if page.higher %}
        {% if page.higher.extra.icon %}
        {% set icon = page.higher.extra.icon %}
        {% else %}
        {% set icon = "📝" %}
        {% endif %}
    <a class="next" href="{{ page.higher.permalink }}">{{ icon }} {{ page.higher.title }} ==></a>
    {% else %}
     <a class="next" style="visibility:hidden;" href="/">No more stories for now.</a>
    {% endif %}
  </div>
  <br>
{% endif %}
{% endblock content %}
