{% extends "base.html" %} {% block content %} {% set icon = section.extra.icon %}{% set now = now() | date(format="%s") | int %}
<meta property="og:title" content="{{ section.title }} - {{ config.extra.default_title }}" />
<link rel="stylesheet" href="{{ get_url(path='blog-index.min.css') }}" />
<style>
.tag {
    background: var(--a);
    color: var(--b);
    max-width: fit-content;
    border-radius: 0.6em;
    padding: 0.2em;
    margin-top: 0.6em;
    font-size:0.7em;
}
</style>
<title>Blog - {{ config.extra.default_title }}</title>
<h1 class="title">{{ section.title }}</h1>
<p class="subheading">
    {{ section.description }}
</p>
<ul id="list-of-posts">
    {% for page in section.pages | filter(attribute="draft", value=false) %} {% if page.extra.icon %} {% set icon = page.extra.icon %} {% else %} {% set icon = section.extra.icon %} {% endif %} {% if page.description %} {% set description = page.description | markdown(inline=true) %} {% set blurb = page.content | striptags | truncate(length=360) %} {% else %} {% set description = "" %} {% set blurb = page.content | striptags | truncate(length=360) %} {% endif %}{% set pub = page.date | date(format="%s") | int %}
    <div
        class="blog-card flex"
        onclick="location.href='{{ page.permalink | safe }}';"
        data-pubdate="{{ page.date }}"
    >
        <div class="blog-icon">{{ icon }}</div>
        <div class="blog-details">
        <p>
            <span class="title">{{ page.title }} </span>{% if  now - pub  < 1200000 %} <span class="tag">New</span>{% endif %}<br />
        <div class="description">
                <p class="truncate"><span class="date"
                    >{{ page.date | date(format="%-d %b %y", locale="en_GB") }}
                    ~</span
                    ><b>{{ description | safe }} </b>{{ blurb }}
                <span class="read-on-container"><a class="read-on" href="{{ page.permalink | safe }}">read more ⇝</a></span></p></div>
        </div>
    </div>
    <hr class="card-hr" />
    {% endfor %}</ul><script>
document.querySelectorAll('.blog-card').forEach(function(card) {
    card.style.cursor = 'pointer';
});
</script>
{% endblock content %}
