<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MaxBruges.com</title>
        <meta name="title" content="Hello, I'm Max Bruges" />
        <meta name="description" content="Teacher // Maker // Learner" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#fffce4" />
        <link rel="icon" href="/images/icon.svg">
        <link rel="stylesheet" href="{{ get_url(path="homepage.min.css") | safe }}" />
     {% if current_url  %}
        <link rel="canonical" href="{{ current_url | safe }}" />
        <meta property="og:url" content="{{ current_url | safe }}">
     {% endif %}
    <meta property="og:site_name" content="MaxBruges.com">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/og.svg">

    </head>

    <body>
        <div id="main" style="min-height: 93vh;">
        <header>
            <img
                src="/images/favicon.svg"
                height="75em"
                width="200em"
                title="Built by Zola at {{ now() | date(format='%H:%M:%S %Z, %a %d %b') }}"
                alt="Miaow"
                style="padding-top: 2em;"
            />

            <h1>
                Hello. I'm
                <a href="{{ get_url(path='@/about.md') | safe }}" target="_blank">Max Bruges</a>
            </h1>
        </header>
        <div>
            <p>I teach students lots of things, in lots of places.</p>
            <p>
                This is where I try to teach
                <a href="{{ get_url(path='@/about.md') | safe }}" target="_blank">myself</a> something new.
            </p>
            <a href="/blog" alt="Link to the blog page, where I share my ramblings."><b>Blog 🗞️</b> </a>
            <a alt="Link to the experiments page, where half-formed abominations of code shamble about." href="/experiments">
                <b> Experiments 🧪</b>
            </a>
            <br />
            <a id="learn-button-link" href="/learn" role="button" target="_blank">
                <b>
                    <span id="learn-button"> Learn 👨‍🏫</span>
                    <div style="position: relative; display: block;">
                        <img id="preview"
                        src=""
                        width="250"
                        alt="Preview of the current Live Lesson"
                        title="Click to join this live lesson!"
                        onload="showLiveCap()" onerror="console.log('lesson not live')">
                        <span id='live-icon'>LIVE 🔴</span>
                    </div>
                </b>
            </a>
        </div>
        </div>
        <footer title="Built by Zola at {{ now() | date(format='%H:%M:%S UTC%:::z, %a %d %b') }}"
        alt="Footer">
            {{ config.extra.footer }}
        </footer>
    </body>
    <link rel="icon" href="/images/favicon.svg" />
        <script>
        window.onload = () =>{
        var d = new Date();
            document.getElementById("preview").src =
              "https://mxb.fyi/static/livecap.webp?ver=" + d.getTime();}
        function showLiveCap() {
                console.log("connected, livecap is present");
                var preview = document.getElementById("preview");
                var button = document.getElementById("learn-button");
                preview.style.display = "block";
                button.innerHTML ="Join the lesson 👨‍🏫";
                document.getElementById('live-icon').style.display = "block"
                document.getElementById('learn-button-link').href = 'https://mxb.fyi/index';}
        </script>
</html>
