{% macro get_defs(content, type="text") %}
    {% set data = load_data(path="/dictionary.yaml") -%}
    {% for word, def in data %}
        {% if content is containing(word) %}
            {% set abbr = "<abbr class=def data-title='" ~ word ~ "_DEF_HERE'>" ~ word ~ "</abbr>" %}
            {% set_global content = content | regex_replace(pattern='\b' ~ word ~ '\b', rep=abbr) %}
        {% endif %}
    {% endfor %}
    {% for word, def in data %}
        {% if content is containing(word) %}
            {%- set_global content = content | safe | replace(from=word ~ "_DEF_HERE", to=def) -%}
        {% endif %}
    {% endfor %}
    {% set_global def_list = "<dl id='definitions'>" %}
        {% for word, def in data %}
            {% if content is containing(word) %}
                {% set_global def_list = def_list ~ "<dt>" ~ word ~ "</dt><dd>" ~ def ~ "</dd>" %}
            {% endif %}
        {% endfor %}
    {% if def_list is ending_with("</dd>") %}
        {%- set_global content = content ~ def_list ~ "</dl>" -%}
    {% endif %}
    {{- content | safe -}}
{% endmacro get_defs %}
