{% macro get_defs(content, type="text") %}
    {% if page.extra.vocab %} {% set data = page.extra.vocab -%}
    {% else %}{% set data = load_data(path="/dictionary.yaml") -%}
    {% endif %}
    {% set_global inc_words = [] %}
    {% for word, def in data %}
        {% if content is containing(word) %}
            {% set abbr = "<abbr class=def data-title='" ~ word ~ "_DEF_HERE'>" ~ word ~ "</abbr>" %}
            {% set_global content = content | regex_replace(pattern='\b' ~ word ~ '\b', rep=abbr) %}
        {% endif %}
    {% endfor %}
    {% for word, def in data %}
        {% if content is containing(word ~ "_DEF_HERE") %}
            {%- set_global inc_words = inc_words | concat(with=word) %}
            {%- set_global content = content | safe | replace(from=word ~ "_DEF_HERE", to=def) -%}
        {% endif %}
    {% endfor %}
    {% set_global def_list = "<dl id='definitions'>" %}
        {% for word, def in data %}
            {% if inc_words is containing(word) %}
                {% set_global def_list = def_list ~ "<dt>" ~ word ~ "</dt><dd>" ~ def ~ "</dd>" %}
            {% endif %}
        {% endfor %}
    {% if def_list is ending_with("</dd>") %}
        {%- set_global content = content ~ def_list ~ "</dl>" -%}
    {% endif %}
    {{- content | safe -}}
{% endmacro get_defs %}



{% macro toc(page) %}
{% if page.toc %}
<style>
#toc li {
    list-style-type: none;
}

</style>
<div id="toc">
<p style="min-width:100%;font-family:monospace; text-align: center;margin:0em;padding:0em;background:var(--a);color:var(--b);">Table of Contents</p>
    <ol style="margin-top:0px;border:2pt solid var(--a); background: rgba(240, 240, 240, 0.4);">
    {% for h2 in page.toc %}

        <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
                <ul>
                    {% for h3 in h2.children %}
                        <li>
                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
</div>
{% endif %}
{% endmacro toc %}
