{% extends "base.html" %} {% block content %} {% set icon = section.extra.icon %}
<meta property="og:title" content="{{ section.title }} - {{ config.extra.default_title }}" />
<link rel="stylesheet" href="{{ get_url(path='blog-index.min.css') }}" />
<title>Textbook - {{ config.extra.default_title }}</title>
<h1 class="title">{{ section.title }}</h1>
<p class="subheading">
    {{ section.description }}
</p>
<style>

.blog-card p:has(.title) {
    margin: 0.2em;
}

div.blog-card {
    padding:0.2em;
}

.truncate {
    margin: :0.2em;
    margin-top:1px !important;
}

button[aria-selected="false"] {
    background-color: rgba(240, 240, 240, 0.7);
    color: #333;
    cursor: pointer;
}

button[aria-selected="false"]:hover {
    background-color: #e0e0e0;
}

button {
    margin-left: 1em;
}

</style>
<script>
function toggleFilter(buttonElem){
  const buttons = document.querySelectorAll('#filter-bar button');
  const selectedKSElements = document.querySelectorAll('div.blog-card[data-keystage], hr[data-keystage]');
  if (buttonElem.getAttribute('aria-selected')=='false'){
    buttons.forEach(btn => btn.setAttribute('aria-selected', 'false'));
    buttonElem.setAttribute('aria-selected','true')
    selectedKS = buttonElem.getAttribute('data-keystage')
    selectedKSElements.forEach(element => {
      if (element.getAttribute('data-keystage').trim() !== selectedKS.trim()) {
        element.style.display = 'none';
      } else {
        element.style.display = 'flex';
      }
      const params = new URLSearchParams(window.location.search);
      params.set('filter', `ks${selectedKS}`); // Change or add a parameter
      window.history.replaceState({}, '', `${window.location.pathname}?${params}`);
    });
  }
  else {
    buttons.forEach(btn => btn.setAttribute('aria-selected', 'false'));
    selectedKSElements.forEach(element => {
        element.style.display = 'flex';
    });
    window.history.replaceState({}, '', window.location.pathname);
  }
}

</script>

<div id="filter-bar" onload="document.getElementById(prefilter).click();">
<p>Filter by: <button id="ks3" data-keystage="3" aria-selected="false" onclick="toggleFilter(this)">KS3</button><button id="ks4" data-keystage="4" aria-selected="false" onclick="toggleFilter(this)">KS4</button><button id="ks5" data-keystage="5" aria-selected="false" onclick="toggleFilter(this)">KS5</button></p>
</div>
<ul id="list-of-posts">

    {% for page in section.pages | filter(attribute="draft", value=false) %}
    {%
    if page.extra.icon %} {% set icon = page.extra.icon %} {% endif %} {% set description = "" %} {%
    set blurb = page.content | striptags | truncate(length=100) %}

    <div
        class="blog-card flex"
        onclick="location.href='{{ page.permalink | safe }}';"
        {% if page.extra.tags %}
        data-tags="{% for tag in page.extra.tags%}{{tag}} {% endfor %}"
        {% endif %}
        {% if page.extra.keystage %}
        data-keystage="{% for keystage in page.extra.keystage%}{{keystage}} {% endfor %}"
        {% endif %}
    >
        <div class="blog-icon">{{ icon }}</div>
        <div class="blog-details">
        <p class="">
            <span class="title">{{ page.title }}</span
            ><br />
        <div class="description">
                <p class="truncate" style="-webkit-line-clamp:2 !important;">{% if page.authors %}<b>by {{ page.authors[0] | safe }} </b>{% endif %}{{ blurb }}
                <span class="read-on-container"><a class="read-on" href="{{ page.permalink | safe }}">read more ⇝</a></span></p></div
            >
        </p>
        </div>
    </div>
    <hr class="card-hr" {% if page.extra.keystage %}
    data-keystage="{% for keystage in page.extra.keystage%}{{keystage}} {% endfor %}"
    {% endif %}
    />
    {% endfor %}
</ul>
<script>
//prefitlering based on url
const filterParam = new URLSearchParams(window.location.search).get('filter');
if (filterParam) {
  toggleFilter(document.getElementById(filterParam))
}
</script>
{% endblock content %}
